h1 {
    color: #84090e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
}

h5 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
}

.listing {
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(224px, 224px));
}

.listing li {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin:0px 0px;
    box-shadow:#999 1px 1px 3px 1px;
    align-content: center;
    vertical-align: bottom;
}
